.index-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  margin: 0 10vw;
}

.card {
  border: 7px solid rgba(128, 128, 128, 0.201);
  padding: 15px 40px 15px 15px;
}

.card__title {
  font-size: 1.75rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card__subject {
  margin-bottom: 15px;
  font-size: 1rem;
  font-family: Impact, sans-serif;
}

.card__subject--purple {
  color: blueviolet;
}

.card__subject--green {
  color: green;
}

.card__date {
  margin: 5px 0;
  font-size: 0.95rem;
  color: rgb(108, 108, 108);
}

.card__preview-text {
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .index-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin: 0 10vw;
  }
}