.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2vh 10vw 30px 10vw;
}

.header__subscribe {
  color: rgba(255, 13, 0, 0.693);
}

.header__title {
  color: black;
  text-decoration: underline;
  margin-top: -10px;
}

.header__search {
  width: 50px;
  height: 50px;
}