@import 'header.css';
@import 'card.css';
@import 'footer.css';
@import 'blogPost.css'; 

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, p, button, a, div {
    margin: 0;
    padding: 0;
}

html {
  margin: 2vh 10vw 0 10vw;
}