@import 'index/header.css';
@import 'index/card.css';
@import 'index/footer.css';
@import 'blog/blog.css';
@import 'blog/body.css';
@import 'blog/sidebar.css';

* {
    box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, p, a, div {
    margin: 0;
    padding: 0;
}